<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd"
	default-init-method="init" default-destroy-method="destroy">

	<context:annotation-config />

	<bean id="employee" class="com.spring.model.Employee" autowire="byName">
		<property name="empId" value="1111"></property>
		<property name="empName" value="Jimmy"></property>
		<property name="email" value="j@gmail.com"></property>
		<property name="gender" value="Male"></property>
		
	</bean>
	
	<bean id="pancard" class="com.spring.model.Pancard">
		<property name="holderName" value="kvk"></property>
		<property name="panNumber" value="CZEPK1245E"></property>
	</bean>
	
</beans>
